<app-header></app-header>
<!-- Example DataTables Card-->
<button class="mx-3 btn btn-primary sheer-up mb-3" [routerLink]="['/add-data-1']">Tambah</button>
<div class="mb-3 mx-3">
    <div class="alert alert-info">The whole 'CRUD' has been set up.</div>
    <span>Data Admin Account</span>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <td>Id</td>
              <td>Code</td>
              <td>Username</td>
              <td>Password</td>
              <td>Email</td>
              <td colspan="2">Action</td>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let a of users.data">
                <td>{{ a.id }}</td>
                <td>{{ a.code }}</td>
                <td>{{ a.username }}</td>
                <td>{{ a.password }}</td>
                <td>{{ a.email }}</td>
                <td><a title="Edit" (click)="editAdminAccount(a.username, a.role, a.email)"  class="btn btn-primary">Edit</a></td>
                <td><a title="Delete" (click)="removeAdminAccount(a.username)" class="btn btn-danger">Delete</a></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>